.innerContainer.panelsView {
  &.kanbanInnerContainer {
    padding: 0;
  }

  &:not(.kanbanInnerContainer) {
    overflow: visible;
  }

  .cell-help {
    float: right;
  }

  padding-bottom: 50px;

  .pcTable-floatBlock {
    padding: 0;
    white-space: inherit;

    .panelsView-card {
      width: 100%;
      cursor: pointer;
      border: 1px solid transparent;

      &.selected {
        background-color: #c8f8ff80;
      }

      box-shadow: 2px 4px 4px rgba(123, 123, 123, 0.25);
      background-color: #fff;
      padding: 10px;
      overflow: hidden;
      margin-top: 10px;
      border-radius: 5px;

      > div {
        width: 100%;
        display: block;


        td {
          width: 100%;

          button.button-field {
            height: 100%;
          }

          &.nonowrap {
            overflow: auto;
          }

          padding-top: 7px;
        }

        th {
          height: 25px;
          color: #9a9a9a;

          padding: 0 5px
        }
      }

      &.mouse-on {
        position: absolute;
        background-color: lightblue;
      }
    }

  }

  .kanbanWrapper {
    display: grid;
    grid-gap: 30px;

    &.cln {
      position: fixed;
      top: 60px;

      .kanban-title {
        box-shadow: 0 0 7px 0px #0000000f
      }
    }

    &.kanban-header {
      padding: 0 30px;
      font-weight: 700;
      color: #525252;

      .kanban-title {
        padding: 20px 0 10px;
        font-size: 20px;
        // background-color: #f1f1f1;
        // padding: 10px 15px 10px 15px;
        font-size: 16px;
        // border-radius: 4px;
        // margin-bottom: 10px;
        text-align: center;
        border-bottom-style: solid;
        border-bottom-width: 8px;

        &:nth-of-type(1) {
          border-bottom-color: #FF9473;
        }

        &:nth-of-type(2) {
          border-bottom-color: #FFF173;
        }

        &:nth-of-type(3) {
          border-bottom-color: #73A2FF;
        }

        &:nth-of-type(4) {
          border-bottom-color: #58D98F;
        }
      }
    }

    &.kanban-body {
      background-color: #E2E2E2;
      padding: 0 30px;

      // .kanban-cards {
      //   margin-left: -5px;
      //   margin-right: -5px;
      // }
    }


  }

  .panel-controls {

    margin-top: 15px;
    padding-left: 2px;

    .fa, span{
      opacity: 0.5;
    }

    button {
      margin-top: -2px;
      margin-left: 10px;
    }
  }

  .pcTable-floatInner>div{
    margin-bottom: 5px;
  }
}
